.container {
    margin: 0.5rem 0;
}

.inner-container {
    width: 250px;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@media screen and (max-width: 1500px) {
    .inner-container {
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0.5rem;
    }
}

